[user]
        name = Aleksey Tsalolikhin
        email = aleksey@verticalsysadmin.com
[color]
        ui = auto
[alias]
        hist = log --pretty=format:'%C(yellow)%h %C(white)%ad | %s%C(bold green)%d%Creset %C(blue)[%an]' --graph --date=short
[push]
        default = current
[merge]
        conflictstyle = diff3
